:root {
  --dreadnought-select-group-font-size: var(--dreadnought-font-size-caption-1);
  --dreadnought-font-size-select: var(--dreadnought-font-size-body-2);
  --dreadnought-font-weight-select: var(--dreadnought-font-weight-body-2);
  --dreadnought-line-height-select: var(--dreadnought-line-height-body-2);
}
