:root {
  --dreadnought-color-primary: #5046e5;
  --dreadnought-color-primary-hover: #4338ca;
  --dreadnought-color-on-primary: #fff;
  --dreadnought-color-secondary: #eeeefd;
  --dreadnought-color-on-secondary: #272264;
  --dreadnought-color-secondary-hover: #dcdafa;
  --dreadnought-color-focus: #8a84f5;
  --dreadnought-color-border-invisible: transparent;
  --dreadnought-color-content-current: currentColor;
  --dreadnought-color-surface: #fff;
  --dreadnought-color-on-surface: #272264;
  --dreadnought-color-border: #817caa;
  --dreadnought-color-placeholder: #68648c;
  --dreadnought-color-danger: #b42318;
}
