:root {
  --dreadnought-opacity-x1: 0.55;
  --dreadnought-border-style-x1: solid;
  --dreadnought-text-decoration-x1: none;
  --dreadnought-shadow-x1: none;
  --dreadnought-cursor-x1: pointer;
  --dreadnought-cursor-x2: not-allowed;
}
