:root {
  --dreadnought-table-cell-padding-block: var(--dreadnought-spacing-x4);
  --dreadnought-table-cell-padding-inline: var(--dreadnought-spacing-x4);
  --dreadnought-table-cell-padding-block-middle: var(--dreadnought-spacing-x3);
  --dreadnought-table-cell-padding-inline-middle: var(--dreadnought-spacing-x2);
  --dreadnought-table-cell-padding-block-small: var(--dreadnought-spacing-x2);
  --dreadnought-table-cell-padding-inline-small: var(--dreadnought-spacing-x2);
}
