:root {
  --dreadnought-font-size-radio: var(--dreadnought-font-size-body-2);
  --dreadnought-font-weight-radio: var(--dreadnought-font-weight-body-2);
  --dreadnought-line-height-radio: var(--dreadnought-line-height-body-2);
}
