:root {
  --dreadnought-text-area-border-style: solid;
  --dreadnought-text-area-disabled-opacity: var(--dreadnought-opacity-disabled);
  --dreadnought-text-area-disabled-cursor: not-allowed;
  --dreadnought-text-area-resize: vertical;
}
