:root {
  --dreadnought-font-size-textarea: var(--dreadnought-font-size-x1);
  --dreadnought-font-weight-textarea: var(--dreadnought-font-weight-x1);
  --dreadnought-line-height-textarea: var(--dreadnought-line-height-x1);
  --dreadnought-font-letter-spacing-textarea: var(--dreadnought-letter-spacing-x1);
  --dreadnought-font-style-textarea: var(--dreadnought-font-style-x1);
  --dreadnought-font-text-transform-textarea: var(--dreadnought-text-transform-x1);
}
