:root {
  --dreadnought-font-size-markdown-editor: var(--dreadnought-font-size-body-2);
  --dreadnought-font-weight-markdown-editor: var(--dreadnought-font-weight-body-2);
  --dreadnought-line-height-markdown-editor: var(--dreadnought-line-height-body-2);
}
