:root {
  --dreadnought-button-bg: var(--dreadnought-color-action-primary);
  --dreadnought-button-fg: var(--dreadnought-color-on-action);
  --dreadnought-button-bg-hover: var(--dreadnought-color-action-primary-hover);
  --dreadnought-button-secondary-bg: var(--dreadnought-color-action-secondary);
  --dreadnought-button-secondary-fg: var(--dreadnought-color-on-action-secondary);
  --dreadnought-button-secondary-bg-hover: var(--dreadnought-color-action-secondary-hover);
  --dreadnought-button-focus: var(--dreadnought-color-focus);
  --dreadnought-button-border-color: transparent;
  --dreadnought-button-spinner-border-color: currentColor;
  --dreadnought-button-spinner-border-right-color: transparent;
}
