:root {
  --dreadnought-button-primary-bg: var(--dreadnought-color-action-primary);
  --dreadnought-button-primary-fg: var(--dreadnought-color-text-on-action-primary);
  --dreadnought-button-primary-bg-hover: var(--dreadnought-color-action-primary-hover);
  --dreadnought-button-secondary-bg: rgb(238 238 253 / 100%);
  --dreadnought-button-secondary-fg: var(--dreadnought-color-text-primary);
  --dreadnought-button-secondary-bg-hover: rgb(220 218 250 / 100%);
  --dreadnought-button-focus-ring: var(--dreadnought-color-focus-ring);
  --dreadnought-button-border-color: transparent;
  --dreadnought-button-spinner-border-color: currentColor;
  --dreadnought-button-spinner-border-right-color: transparent;
}
