:root {
  --dreadnought-button-disabled-opacity: 0.55;
  --dreadnought-button-border-style: solid;
  --dreadnought-button-text-decoration: none;
  --dreadnought-button-shadow: none;
  --dreadnought-button-cursor: pointer;
  --dreadnought-button-disabled-cursor: not-allowed;
  --dreadnought-button-spinner-border-style: solid;
}
