:root {
  --dreadnought-button-spinner-duration: 0.75s;
  --dreadnought-button-spinner-timing: linear;
  --dreadnought-button-spinner-iteration-count: infinite;
  --dreadnought-button-spinner-rotation: 360deg;
}
