:root {
  --dreadnought-button-spinner-duration: var(--dreadnought-motion-duration-x1);
  --dreadnought-button-spinner-timing: var(--dreadnought-motion-timing-x1);
  --dreadnought-button-spinner-iteration-count: var(--dreadnought-motion-iteration-x1);
  --dreadnought-button-spinner-rotation: var(--dreadnought-motion-rotation-x1);
}
