:root {
  --dreadnought-button-radius: var(--dreadnought-radius-control);
  --dreadnought-button-min-height: var(--dreadnought-size-control-min-height);
  --dreadnought-button-focus-width: var(--dreadnought-size-focus-width);
  --dreadnought-button-border-width: var(--dreadnought-size-border-none);
  --dreadnought-button-icon-size: var(--dreadnought-size-icon);
  --dreadnought-button-spinner-size: var(--dreadnought-size-spinner);
  --dreadnought-button-spinner-border-width: var(--dreadnought-size-spinner-border-width);
  --dreadnought-button-spinner-radius: var(--dreadnought-radius-circle);
}
