:root {
  --dreadnought-button-padding-x: var(--dreadnought-spacing-x4);
  --dreadnought-button-padding-y: var(--dreadnought-spacing-x3);
  --dreadnought-button-gap: var(--dreadnought-spacing-x2);
  --dreadnought-button-focus-offset: var(--dreadnought-spacing-x1);
}
