:root {
  --dreadnought-font-size-button: var(--dreadnought-font-size-control);
  --dreadnought-font-weight-button: var(--dreadnought-font-weight-control);
  --dreadnought-line-height-button: var(--dreadnought-line-height-control);
  --dreadnought-font-letter-spacing-button: var(--dreadnought-font-letter-spacing-control);
  --dreadnought-font-style-button: var(--dreadnought-font-style-control);
  --dreadnought-font-text-transform-button: var(--dreadnought-font-text-transform-control);
}
