:root {
  --dreadnought-font-size-button: 1rem;
  --dreadnought-font-weight-button: 600;
  --dreadnought-line-height-button: 1.25;
  --dreadnought-font-letter-spacing-button: normal;
  --dreadnought-font-style-button: normal;
  --dreadnought-font-text-transform-button: none;
}
