:root {
  --dreadnought-layout-header-padding: var(--dreadnought-spacing-x4);
  --dreadnought-layout-content-padding: var(--dreadnought-spacing-x4);
  --dreadnought-layout-footer-padding: var(--dreadnought-spacing-x4);
  --dreadnought-layout-sidebar-body-padding: var(--dreadnought-spacing-x4);
}
