:root {
  --dreadnought-font-size-switch: var(--dreadnought-font-size-body-2);
  --dreadnought-font-weight-switch: var(--dreadnought-font-weight-body-2);
  --dreadnought-line-height-switch: var(--dreadnought-line-height-body-2);
}
