:root {
  --dreadnought-code-block-bg: var(--dreadnought-color-surface-default);
  --dreadnought-code-block-text: var(--dreadnought-color-text-primary);
  --dreadnought-code-block-muted-text: var(--dreadnought-color-text-placeholder);
  --dreadnought-code-block-border: var(--dreadnought-color-border-subtle);
}
