@layer dreadnought {
  .dreadnought-text-checkbox {
    font-family: var(--dreadnought-font-family-ui);
    font-size: var(--dreadnought-font-size-checkbox);
    font-weight: var(--dreadnought-font-weight-checkbox);
    line-height: var(--dreadnought-line-height-checkbox);
  }
}
