:root {
  --dreadnought-slider-inset: calc(var(--dreadnought-slider-target-size) / 2);
  --dreadnought-slider-focus-offset: var(--dreadnought-spacing-x1);
  --dreadnought-slider-mark-offset: 0.75rem;
  --dreadnought-slider-mark-padding: 0.25rem;
  --dreadnought-slider-mark-space: 1.5rem;
  --dreadnought-slider-vertical-mark-space: 4rem;
}
