:root {
  --dreadnought-font-size-bar-chart: var(--dreadnought-font-size-body-3);
  --dreadnought-font-weight-bar-chart: var(--dreadnought-font-weight-body-3);
  --dreadnought-line-height-bar-chart: var(--dreadnought-line-height-body-3);
  --dreadnought-bar-chart-title-font-weight: var(--dreadnought-font-weight-label-1);
  --dreadnought-bar-chart-label-font-size: var(--dreadnought-font-size-caption-2);
  --dreadnought-bar-chart-legend-font-variation: var(--dreadnought-font-variation-wide);
}
