@layer dreadnought {
  .root {
    box-sizing: border-box;
    max-width: min(var(--dreadnought-tooltip-max-width), 100vw);
    padding: var(--dreadnought-tooltip-padding-block) var(--dreadnought-tooltip-padding-inline);
    border: var(--dreadnought-tooltip-border-width) solid var(--dreadnought-tooltip-border);
    border-radius: var(--dreadnought-tooltip-radius);
    background: var(--dreadnought-tooltip-bg);
    color: var(--dreadnought-tooltip-text);
    font-family: var(--dreadnought-tooltip-font-family);
    font-size: var(--dreadnought-tooltip-font-size);
    font-weight: var(--dreadnought-tooltip-font-weight);
    line-height: var(--dreadnought-tooltip-line-height);
    overflow-wrap: anywhere;
    overflow: visible;
    row-gap: var(--dreadnought-tooltip-gap);
  }
  .root > [data-ui='tooltip-arrow'] {
    position: absolute;
    width: var(--dreadnought-tooltip-arrow-size);
    height: var(--dreadnought-tooltip-arrow-size);
    background: inherit;
    border: inherit;
    border-radius: var(--dreadnought-tooltip-arrow-radius);
    pointer-events: none;
    box-sizing: border-box;
  }
  .root[data-placement^='top'] > [data-ui='tooltip-arrow'] {
    left: var(--dreadnought-tooltip-arrow-position);
    top: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 0;
    border-left: 0;
  }
  .root[data-placement^='bottom'] > [data-ui='tooltip-arrow'] {
    left: var(--dreadnought-tooltip-arrow-position);
    bottom: 100%;
    transform: translate(-50%, 50%) rotate(45deg);
    border-bottom: 0;
    border-right: 0;
  }
  .root[data-placement^='left'] > [data-ui='tooltip-arrow'] {
    top: var(--dreadnought-tooltip-arrow-position);
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-bottom: 0;
    border-left: 0;
  }
  .root[data-placement^='right'] > [data-ui='tooltip-arrow'] {
    top: var(--dreadnought-tooltip-arrow-position);
    right: 100%;
    transform: translate(50%, -50%) rotate(45deg);
    border-top: 0;
    border-right: 0;
  }
}
