:root {
  --dreadnought-accordion-disabled-opacity: var(--dreadnought-opacity-disabled);
  --dreadnought-accordion-indicator-rotation-closed: 0deg;
  --dreadnought-accordion-indicator-rotation-open: 180deg;
}
